@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    padding: 0;
    margin:0;
}
.header{
      padding: 2% 0% 0% 15%;


}

.header__menu{
    display: flex;
    gap: 80px;


}


.header__menu_link {
    color: #22D4FD;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


body{
    
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
.presentacion__imagen{}


.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}

.presentacion__enlaces__link{
   
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    display: flex; /*le da la priopiedad flex para que todo este en un mismo eje*/
    justify-content: center;  /*alinea todos los elementos al medio*/
    gap: 10px; /*separa los elementos 10px entre si */
}
.presentacion_enlaces-subtitulo {

    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}

.presentacion__enlaces__link:hover{    /*le el efecto hover a la clase nombrada para que cuando pasemos el mause ensima cambie el backgraund color*/
        background-color: #272727;
    }
.footer {

    background-color: #22D4FD;
    color: #000000;
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}
@media (max-width: 1023px) {
    .header {
        padding: 10%; /* Ajusta según sea necesario */
    }
    .presentacion {
        flex-direction: column-reverse;
        /* Otras propiedades, si es necesario */
    }
    .presentacion__contenido{
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .presentacion__imagen{
        width: 75%;
    }
    .presentacion__contenido__titulo{
        padding-top: 20px;
        font-size: 2rem;
}